transformers 
sentence-transformers 
torch 
requests 
pydantic 
beautifulsoup4 
pypdf 
lxml 
faiss-cpu
streamlit
langchain
langchain-core
pdfminer.six
langchain-openai
httpx
chromadb
tiktoken
langchain-community
gradio
pandas
numpy
plotly
scikit-learn